body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
     background-image: url('https://png.pngtree.com/png-clipart/20240810/original/pngtree-flying-cup-of-coffee-with-splash-and-png-image_15739217.png');
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    padding: 20px;
    
}
.nav {
    display: flex;
    justify-content: right;
    gap: 30px;
    margin-top: 1px;
    align-items: right;
    font-style: bold;
    font-weight: bold;



}
.logo-container {
    display: flex;
    align-items: left;
    height: 60px;
    width: 200px;
    border-radius: 50%  ;
    padding: 10px;






    }
    .company-name {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-left: 10px;
        margin-top: 15px;
    }

    
       
    
    .card1{
        height: auto;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width:300px;
        margin: 20px;
        padding: 20px
       
    }
        
        
    .card-image {
        width: 250px;
        height: 200px;
        border-radius: 10px;
        

    } 
    .content {
        display: flex;
       gap: 20px;
       flex-direction: row;
       width: 100%;
       
    }  

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .card1 {
        width: 100%;
    }
}
.footer{
    text-align: center;
    padding: px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.card-image2 {
    width: 400px;
    height: 400px;
    border-color: black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    display: inline-flex;
}
.line2 {
    font-size: 20px;
    font-weight: bold;
    color: #55c028;
    font-family: cursive;
    text-align: center;
    display: inline-flex;
    vertical-align: middle;
    float: center;
}
.card2{
   height: auto;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width:300px;
        margin: 20px;
        padding: 20px
   
}
.content2 {
    display: flex;
   gap: 20px;
   flex-direction: row;
   width: 100%;
   
}